html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    font-family: abel, sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 0px;
}

/* Set the fixed height of the footer here */
footer {
    height: 60px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.muted {
    color: #999;
    font-size: 14px;
}

.content-area {
    padding-top: 40px;
    padding-bottom: 30px;
}

@media (max-width: 481px) {
    .header img {
        width: 100%;
    }
}

.header img {
}

.nav-area {
    /*padding-top: 100px;*/
}

.nav-area a {
    font-size: 30px;
    color: #ffffff;
}

.nav-link > div {
    display: none;
}

.nav-link > div:first-child {
    display: block;
}

.nav-link:hover > div {
    display: block;
}

.nav-area .nav-link {
    background-color:rgba(200, 200, 200, 0.7);
    margin-bottom: 30px;
    text-align: center;
    padding-top: 19px;
    height: 70px;
    width: 70px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.nav-area .nav-link:hover {
    background-color:rgba(0, 0, 140, 0.7);
}

.nav-area .active-link {
    background-color:rgba(0, 0, 140, 0.7);
    margin-bottom: 30px;
    text-align: center;
    padding-top: 19px;
    height: 70px;
    width: 70px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.nav-area .link-text a {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.nav-area .active-text a {
    font-size: 20px;
    font-weight: 400;
    color: #00008C;
    text-decoration: none;
    display: block;
}

.content-box {
    font-size: 18px;
    /*padding-top: 50px;*/
}

.small-nav-area {
    margin-top: 20px;
}

.buffer-20 {
    height: 20px;
}

.buffer-30 {
    height: 30px;
}

.buffer-50 {
    height: 50px;
}