<h2>Über Uns</h2>
<br>
<div class="row personals">
    <div class="col-lg-4 col-md-4">
        <img class="img-thumbnail img-responsive" src="{{app.request.baseUrl}}/assets/img/andreas.jpg">
    </div>
    <div class="col-lg-8 col-md-8">
        <strong>Andreas Weber</strong><br>
        Andreas ist diplomierter Informatik-Betriebswirt (VWA),<br>
        und hat in der freien Wirtschaft viele Erfahrungen und Eindrücke gewinnen können.<br>
        Konzeption und Beratung von Unternehmensstrukturen,<br>
        aber auch die technischen Aspekte sind seine Stärken.<br>
        <br>
        Er ist Vater von vier Kindern und wohnt seit 10 Jahren<br>
        in Torno.<br>
    </div>
</div>
<br>
<br>
<div class="row personals">
    <div class="col-lg-4 col-md-4">
        <img class="img-thumbnail img-responsive" src="{{app.request.baseUrl}}/assets/img/florian.jpg">
    </div>
    <div class="col-lg-8 col-md-8">
        <strong>Florian Weber</strong><br>
        Florian macht eine Ausbildung zum Anwendungsentwickler,<br>
        und hat auch in der Konzeption und Konfiguration von PC-Systemen<br>
        einige Erfahrung.<br>
        <br>
        Er lebt mit seiner Freundin in Dresden,<br>
        und spielt in seiner Freizeit in einer Metal-Band.<br>
    </div>
</div>