<div id="index-quote">
    <blockquote>
        <p>
        <h3>Herzlich Willkommen bei Weber-Elektronik!</h3>
        <br>
        Als erfahrener Spezialist für IT-Dienstleistungen aller Art<br>
        und Unternehmensberatung für mittelständische Firmen<br>
        bieten wir Ihnen eine individuelle Beratung<br>
        und eine kompetente Umsetzung Ihrer Vorhaben.<br>
        <br>
        Treten Sie mit uns in {% raw %}{{#link-to 'contact'}}Kontakt{{/link-to}}{% endraw %},<br>
        oder besuchen Sie unseren <a href="http://shop.weber-elektronik.de">Online-Shop</a>.<br>
        <br>
        Wir freuen uns auf Sie!<br>
        <small>Andreas Weber</small>
        </p>
    </blockquote>
</div>